{{ ansible_managed | comment }}

# Copyright (C) 2012 Codership Oy
# This config file is to be sourced by garbd service script.

# A space-separated list of hosts addresses (address[:port]) in the cluster:
GALERA_NODES="{{ ip_without_arbiter | join(':4567 ') }}:4567"

# Galera cluster name, should be the same as on the rest of the node.
GALERA_GROUP="{{ percona_cluster.name }}"

# Optional Galera internal options string (e.g. SSL settings)
# see https://galeracluster.com/library/documentation/galera-parameters.html
{% if percona_ssl %}
GALERA_OPTIONS="socket.ssl=YES;socket.ssl_key=/etc/mysql/certs/server-key.pem;socket.ssl_cert=/etc/mysql/certs/server-cert.pem;socket.ssl_ca=/etc/mysql/certs/ca.pem;socket.ssl_cipher=AES128-SHA"
{% endif %}

# Log file for garbd. Optional, by default logs to syslog
LOG_FILE="/var/log/garbd.log"
