{{ ansible_managed | comment }}

# this file is symlinked from /etc/mysql/root.cnf to /root/.my.cnf
# to use passwordless login for the root user

[client]
socket   = {{ mysqld.socket }}
{% if ansible_os_family == 'Debian' %}
user     = debian-sys-maint
password = {{ percona_system_password }}
{% else %}
user     = root
password = {{ percona_root_password }}
{% endif %}

[mysql_upgrade]
socket   = {{ mysqld.socket }}
{% if ansible_os_family == 'Debian' %}
user     = debian-sys-maint
password = {{ percona_system_password }}
{% else %}
user     = root
password = {{ percona_root_password }}
{% endif %}
